<div class="container m-2 p-5 bg-light rounded">
    <p class="text-muted text-lead text-center">Simple Alert .alert role='alert'</p>
    <div class="alert alert-danger" role="alert">
        Sorry Dear Customers! we cannot serve you in your ideal way.
    </div>
</div>

<div class="container m-2 p-5 bg-light rounded">
    <p class="text-muted text-lead text-center">Simple Alert With A link .alert-link</p>
    <div class="alert alert-secondary" role="alert">
        Sorry Dear Customers! we cannot serve you in your ideal way. for more details please <b><a href="" class="alert-link">click here</a></b>
    </div>
</div>

<div class="container m-2 p-5 bg-light rounded">
    <p class="text-muted text-lead text-center">Detailed Alert Box .alert-heading</p>
    <div class="alert alert-success" role="alert">
        <h4 class="alert-heading">Successfull Uploaded</h4>
        <p>Sorry Dear Customers! we cannot serve you in your ideal way. for more details please <b><a href="" class="alert-link">click here</a></b></p>
        <hr>
        <p class="mb-0">If you agreed click here <button class="btn btn-sm btn-success">Agree</button> and if not agreed click here <button class="btn btn-sm btn-danger">Not Agree</button></p>
    </div>
</div>

<div class="container m-2 p-5 bg-light rounded">
    <p class="text-muted text-lead text-center">Dismissable Alert .alert-dismissible</p>
    <div class="alert alert-success fade show alert-dismissible" role="alert">
        <button class="close" type="button" data-dismiss="alert" aria-label="close">
            <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="alert-heading">Successfull Uploaded</h4>
        <p>Sorry Dear Customers! we cannot serve you in your ideal way. for more details please <b><a href="" class="alert-link">click here</a></b></p>
        <hr>
        <p class="mb-0">If you agreed click here <button class="btn btn-sm btn-success">Agree</button> and if not agreed click here <button class="btn btn-sm btn-danger">Not Agree</button></p>
    </div>
</div>