<div class="container m-2 p-5 bg-light rounded text-dark">
    <p class="text-muted text-center text-lead">Simple heading badges</p>
    <h1>Here is a h1 <span class="badge badge-primary">Budge</span></h1>
    <h2>Here is a h2 <span class="badge badge-secondary">Budge</span></h2>
</div>

<div class="container m-2 p-5 bg-light rounded text-dark">
    <p class="text-muted text-center text-lead">Notification Badges | Badge Bill</p>
    <button class="btn btn-primary m-3" type="button">
        Notication <span class="badge badge-light">14</span>
    </button>
    <button class="btn btn-primary m-3" type="button">
        Notication <span class="badge badge-pill badge-light">14</span>
    </button>
    <button class="btn btn-success m-3" type="button">
         <i class="fa fa-download"></i> Download
    </button>
    <button class="btn btn-info m-3" type="button">
        <span class="badge badge-light"><i class="fa fa-download"></i></span> Download
    </button>
</div>

<div class="container m-2 p-5 bg-light rounded text-dark">
    <p class="text-muted text-center text-lead">BreadCrums</p>
    <div aria-label="breadcrumb m-2">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active">Home</li>
        </ol>
    </div>
    
    <div aria-label="breadcrumb m-2">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item"><a href="">Song</a></li>
            <li class="breadcrumb-item active">Micheal Jackson</li>
        </ol>
    </div>
</div>

