<div class="container m-2 p-3 bg-light rounded">
    <p class="text-muted text-lead text-center text-dark">Card => .card .card-body .card-title .card-img-top .card-subtitle</p>
    <div class="card text-dark" style="width: 18rem">
        <img src="http://mybattlepics.com/img/profile/52d67a8322.jpg" class="card-img-top" alt="Profile Pic">
        <div class="card-body">
            <h5 class="card-title">Shalipa Shetti</h5>
            <p class="card-subtitle">
                Shalipa Sheti is one of the most reputed actress in the bollywood and she's very famous among indians
            </p>
            <a href="" role="button" class="btn btn-success m-1"><i class="fa fa-plus"></i> Add Friend</a>
            <a href="" role="button" class="btn btn-danger m-1"><i class="fa fa-lock"></i> Block</a>
            <a href="" role="button" class="btn btn-info m-1"><i class="fa fa-envelope"></i> Message</a>
        </div>
    </div>
</div>

<div class="container m-2 p-3 bg-light rounded">
    <p class="text-muted text-lead text-center text-dark">.card .card-body .card-title .card-img-top .card-subtitle</p>
    <div class="card text-dark p-3" style="width: 18rem">
        <div class="card-body">
            <h5 class="card-title">Invitation Card</h5>
            <p class="card-subtitle">
                We invite you (Mr. Hazar Gul Nazari) for our party. Hope you accept our invitation and we promise, you will not be regreted.
            </p>
            <a href="" class="card-link">Accept</a>
            <a href="" class="card-link">Reject</a>
        </div>
    </div>
</div>

<div class="container m-2 p-3 bg-light rounded">
    <div class="row">
        <div class="col">
            <div class="alert fade show alert-dismissible" role="alert">
                <button class="close text-dark" type="button" data-dismiss="alert" aria-label="close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <div class="card text-dark m-0 container-fluid">
                    <img src="http://mybattlepics.com/img/profile/52d67a8322.jpg" class="card-img-top">
                    <div class="card-body">
                        <p class="card-text">Here is a card which can be used for any purpose of posting a card</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="alert fade show alert-dismissible" role="alert">
                <button class="close text-dark" type="button" data-dismiss="alert" aria-label="close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <div class="card text-dark">
                    <img src="http://mybattlepics.com/img/profile/52d67a8322.jpg" class="card-img-top">
                    <div class="card-body">
                        <p class="card-text">Here is a card which can be used for any purpose of posting a card</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="alert fade show alert-dismissible" role="alert">
                <button class="close text-dark" type="button" data-dismiss="alert" aria-label="close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <div class="card text-dark">
                    <img src="http://mybattlepics.com/img/profile/52d67a8322.jpg" class="card-img-top">
                    <div class="card-body">
                        <p class="card-text">Here is a card which can be used for any purpose of posting a card</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="alert fade show alert-dismissible" role="alert">
                <button class="close text-dark" type="button" data-dismiss="alert" aria-label="close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <div class="card text-dark">
                    <img src="http://mybattlepics.com/img/profile/52d67a8322.jpg" class="card-img-top">
                    <div class="card-body">
                        <p class="card-text">Here is a card which can be used for any purpose of posting a card</p>
                    </div>
                </div>
            </div>
        </div>
    </div>  
</div>

<div class="container m-2 p-3 bg-light rounded">
    <div class="card" style="width: 18rem">
        <img src="http://mybattlepics.com/img/profile/52d67a8322.jpg" class="card-img-top" alt="...">
        <div class="card-body text-dark">
            <h5 class="card-title">Shalipa Shetti</h5>
            <p class="card-text">
                Shalipa Shette is one of the highest payed actress which has famous moives comming soon
            </p>
        </div>
        <div class="card-header text-dark">
            Movies
        </div>
        <ul class="list-group list-group-flush text-dark">
            <li class="list-group-item">
                Sholla <a href="" class="btn btn-primary" role="button"><i class="fa fa-eye"></i></a>
            </li>
            <li class="list-group-item">
                Ek Paggal <a href="" class="btn btn-primary" role="button"><i class="fa fa-eye"></i></a>
            </li>
            <li class="list-group-item">
                Koy Milgaya <a href="" class="btn btn-primary" role="button"><i class="fa fa-eye"></i></a>
            </li>
        </ul>
        <div class="card-body text-dark">
            <p class="card-title">Contacts:</p>
            <div class="btn-group btn-group-vertical">
                <a href="" role="button" class="btn btn-primary"><i class="fa fa-envelope"></i> Email</a>
                <a href="" role="button" class="btn btn-primary"><i class="fa fa-facebook"></i> Facebook</a>
                <a href="" role="button" class="btn btn-primary"><i class="fa fa-twitter"></i> Twitter</a>
                <a href="" role="button" class="btn btn-danger"><i class="fa fa-youtube"></i> Youtube</a>
                <a href="" role="button" class="btn btn-danger"><i class="fa fa-instagram"></i> Instgram</a>
            </div>
        </div>
    </div>
</div>

<div class="container m-2 p-3 bg-light rounded text-dark">
    <div class="card">
        <div class="card-header bg-info">
            <i class="fa fa-info"></i> Information
        </div>
        <div class="card-body">
            <h5 class="card-title">Do you know?</h5>
            <p class="card-text">
                Hey dear, I want to inform you that there are tons of bad movies which can waste your time, so better to be aware about it
            </p>
            <hr>
            <p class='card-text'>Are you Agree?</p>
            <a href="" role="button" class="btn btn-success m-1"><i class="fa fa-check"></i> Yes</a>
            <a href="" role="button" class="btn btn-danger"><i class="fa fa-times"></i> No</a>  
        </div>
        <div class="card-footer text-muted text-center">
            Thanks for responding
        </div>
    </div>
</div>

<div class="container m-2 p-3 bg-light rounded text-dark">
    <div class="card">
        <div class="card-header">
            Feature
        </div>
        <div class="card-body">
            <h5 class="card-title">Here is a special title</h5>
            <p class="card-text">
                With a supporting text to be used for expanding the title
            </p>
            <a href="" class="btn btn-primary">Go Somewhere</a>
        </div>
    </div>
</div>

<div class="container m-2 p-3 bg-light rounded text-dark">
    <p class="text-muted text-center text-dark text-lead">.card .card-header .card-body .blockquote .blockquote-footer</p>
    <div class="card">
        <div class="card-header">
            Quote
        </div>
        <div class="card-body">
            <blockquote class="blockquote">
                <h5>
                    The peace comes from inside, rather than search on outside world.
                </h5>
                <footer class="blockquote-footer">
                    Said by Buddha <cite title="Source Title">Sourced Title</cite>
                </footer>
            </blockquote>
        </div>
    </div>
</div>

<div class="container m-2 p-3 bg-light rounded text-dark">
    <p class="text-muted text-center text-dark text-lead">.card .card-header .card-footer .card-text .card-title .card-subtitle .card-text .card-link</p>
    <div class="card text-center">
        <div class="card-header">
            Feature
        </div>
        <div class="card-body">
            <h5 class="card-title">Here is a special title</h5>
            <p class="card-text">
                With a supporting text to be used for expanding the title
            </p>
            <a href="" class="btn btn-primary">Go Somewhere</a>
        </div>
        <div class="card-footer text-muted">
            2 days ago
        </div>
    </div>
</div>

<div class="container m-2 p-3 bg-light rounded text-dark">
    <p class="text-muted text-center text-dark text-lead">.col-sm-6 .card .card-header</p>
    <div class="row text-dark">
    <div class="col-sm-6">
        <div class="card">
            <div class="card-header">
                Feature
            </div>
            <div class="card-body">
                <h5 class="card-title">Here is a special title</h5>
                <p class="card-text">
                    With a supporting text to be used for expanding the title
                </p>
                <a href="" class="btn btn-primary">Go Somewhere</a>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card">
            <div class="card-header">
                Feature
            </div>
            <div class="card-body">
                <h5 class="card-title">Here is a special title</h5>
                <p class="card-text">
                    With a supporting text to be used for expanding the title
                </p>
                <a href="" class="btn btn-primary">Go Somewhere</a>
            </div>
        </div>
    </div>
</div>
</div>

<div class="container m-2 p-3 bg-light rounded text-dark">
    <p class="text-muted text-center text-dark text-lead">.card .w-75 .w-50</p>
    <div class="card w-75">
        <div class="card-body">
            <h5 class="card-title">Card Title</h5>
            <p class="card-text">With supporting text below as a ntural lead-on to additional</p>
            <a href="" class="btn btn-primary">Button</a>
        </div>
    </div>
    <div class="card w-50">
         <div class="card-body">
            <h5 class="card-title">Card Title</h5>
            <p class="card-text">With supporting text below as a ntural lead-on to additional</p>
            <a href="" class="btn btn-primary">Button</a>
        </div>
    </div>
</div>

<div class="container m-2 p-3 bg-light rounded text-dark">
    <p class="text-muted text-center text-dark text-lead">.card</p>
    <div class="card" style="width: 18rem">
        <div class="card-body">
            <h5 class="card-title">Card Title</h5>
            <p class="card-text">With supporting text below as a ntural lead-on to additional</p>
            <a href="" class="btn btn-primary">Button</a>
        </div>
    </div>
</div>

<div class="container m-2 p-3 bg-light rounded text-dark">
    <p class="text-muted text-center text-dark text-lead">.card .nav .nav-tabs .card-header-tabs</p>
    <div class="card text-center">
        <div class="card-header">
            <ul class="nav nav-tabs card-header-tabs">
                <li class="nav-item">
                    <a class="nav-link active">Actives</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link">Link</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link">Link</a>
                </li>
            </ul>
        </div>
        <div class="card-body">
            <h5 class="card-title">Special title treatment</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>
</div>

<div class="container m-2 p-3 bg-light rounded text-dark">
    <p class="text-muted text-center text-dark text-lead">.card .nav .nav-pills .card-header-pills</p>
    <div class="card text-center">
        <div class="card-header">
            <ul class="nav nav-pills card-header-pills">
                <li class="nav-item">
                    <a class="nav-link active">Actives</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link">Link</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link">Link</a>
                </li>
            </ul>
        </div>
        <div class="card-body">
            <h5 class="card-title">Special title treatment</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>
</div>

<div class="container m-2 p-3 bg-light rounded text-dark">
    <div class="card text-white">
        <img src="https://img.purch.com/w/553/aHR0cDovL3d3dy5saXZlc2NpZW5jZS5jb20vaW1hZ2VzL2kvMDAwLzEwMi85NTUvb3JpZ2luYWwvMDAxLURhcmstTWF0dGVyLmpwZw==" class="card-img" alt="..">
        <div class="card-img-overlay">
            <h5 class="card-title">Card title</h5>
    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
    <p class="card-text">Last updated 3 mins ago</p>
        </div>
    </div>
</div>

<div class="container m-2 p-3 bg-light rounded text-dark">
    <p class="text-muted text-center text-dark text-lead">.card-group</p>
    <div class="card-group">
        <div class="card">
            <div class="card-header">
                Feature
            </div>
            <div class="card-body">
                <h5 class="card-title">Here is a special title</h5>
                <p class="card-text">
                    With a supporting text to be used for expanding the title
                </p>
                <a href="" class="btn btn-primary">Go Somewhere</a>
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                Feature
            </div>
            <div class="card-body">
                <h5 class="card-title">Here is a special title</h5>
                <p class="card-text">
                    With a supporting text to be used for expanding the title
                </p>
                <a href="" class="btn btn-primary">Go Somewhere</a>
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                Feature
            </div>
            <div class="card-body">
                <h5 class="card-title">Here is a special title</h5>
                <p class="card-text">
                    With a supporting text to be used for expanding the title
                </p>
                <a href="" class="btn btn-primary">Go Somewhere</a>
            </div>
        </div>
    </div>
</div>

<div class="container m-2 p-3 bg-light rounded text-dark">
    <p class="text-muted text-center text-dark text-lead">.card-deck</p>
    <div class="card-deck">
        <div class="card">
            <div class="card-header">
                Feature
            </div>
            <div class="card-body">
                <h5 class="card-title">Here is a special title</h5>
                <p class="card-text">
                    With a supporting text to be used for expanding the title
                </p>
                <a href="" class="btn btn-primary">Go Somewhere</a>
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                Feature
            </div>
            <div class="card-body">
                <h5 class="card-title">Here is a special title</h5>
                <p class="card-text">
                    With a supporting text to be used for expanding the title
                </p>
                <a href="" class="btn btn-primary">Go Somewhere</a>
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                Feature
            </div>
            <div class="card-body">
                <h5 class="card-title">Here is a special title</h5>
                <p class="card-text">
                    With a supporting text to be used for expanding the title
                </p>
                <a href="" class="btn btn-primary">Go Somewhere</a>
            </div>
        </div>
    </div>
</div>

<div class="container m-2 p-3 bg-light rounded text-dark">
    <p class="text-muted text-center text-dark text-lead">.card-colums</p>
    <div class="card-columns">
        <div class="card">
            <div class="card-header">
                Feature
            </div>
            <div class="card-body">
                <h5 class="card-title">Here is a special title</h5>
                <p class="card-text">
                    With a supporting text to be used for expanding the title
                </p>
                <a href="" class="btn btn-primary">Go Somewhere</a>
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                Feature
            </div>
            <div class="card-body">
                <h5 class="card-title">Here is a special title</h5>
                <p class="card-text">
                    With a supporting text to be used for expanding the title
                </p>
                <a href="" class="btn btn-primary">Go Somewhere</a>
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                Feature
            </div>
            <div class="card-body">
                <h5 class="card-title">Here is a special title</h5>
                <p class="card-text">
                    With a supporting text to be used for expanding the title
                </p>
                <a href="" class="btn btn-primary">Go Somewhere</a>
            </div>
        </div>
    </div>
</div>