<div class="container bg-light rounded m-2 p-3">
    <p class="text-muted text-center text-dark text-lead">
        .carousel .slide .carousel-inner .carousel-item data-ride='caoursel'
    </p>
    <div class="carousel slide" id="carousel1" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="container-fluid bg-danger" style="width: 100%; height: 300px;">
                    <h1 class="display-1 d-block w-100">Display 1</h1>
                </div>
            </div>
            <div class="carousel-item">
                <div class="container-fluid bg-info" style="width: 100%; height: 300px;">
                    <h1 class="display-1 d-block w-100">Display 1</h1>
                </div>            </div>
            <div class="carousel-item">
                <div class="container-fluid bg-success" style="width: 100%; height: 300px;">
                    <h1 class="display-1 d-block w-100">Display 1</h1>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container bg-light rounded m-2 p-3 text-dark">
    <p class="text-muted text-center text-dark text-lead">
        .carousel .slide .carousel-inner .carousel-item data-ride='caoursel' coursel-item-next .carousel-item-prev data-slide='prev' data-slide='next'
    </p>
    <div class="carousel slide" id="carousel2" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="container-fluid bg-danger" style="width: 100%; height: 300px;">
                    <h1 class="display-1 d-block w-100">Display 1</h1>
                </div>
            </div>
            <div class="carousel-item">
                <div class="container-fluid bg-info" style="width: 100%; height: 300px;">
                    <h1 class="display-1 d-block w-100">Display 1</h1>
                </div>            </div>
            <div class="carousel-item">
                <div class="container-fluid bg-success" style="width: 100%; height: 300px;">
                    <h1 class="display-1 d-block w-100">Display 1</h1>
                </div>
            </div>
        </div>
        <a href="#carousel2" class="carousel-item-prev" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="treu"></span>
        </a>
        <a href="#carousel2" class="carousel-item-next" role="button" data-slide="next">
            <span class="carousel-control-prev-icon" aria-hidden="treu"></span>
        </a>
    </div>
</div>

<div class="container bg-light rounded m-2 p-3">
   <p class="text-muted text-center text-dark text-lead">
        .carousel
        .slide
        .carousel-inner
        .carousel-item
        data-ride='caoursel'
        coursel-item-next
        .carousel-item-prev
        data-slide='prev'
        data-slide='next' 
        data-target='id' 
        data-slide-to='slide_number' 
        .carouse-indicators
    </p>
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="container-fluid bg-danger" style="width: 100%; height: 300px;">
                    <h1 class="display-1 d-block w-100">Display 1</h1>
                </div>
            </div>
            <div class="carousel-item">
                <div class="container-fluid bg-info" style="width: 100%; height: 300px;">
                    <h1 class="display-1 d-block w-100">Display 1</h1>
                </div>            </div>
            <div class="carousel-item">
                <div class="container-fluid bg-success" style="width: 100%; height: 300px;">
                    <h1 class="display-1 d-block w-100">Display 1</h1>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>

<div class="container bg-light rounded m-2 p-3">
    <p class="text-muted text-center text-dark text-lead">
        .carousel
        .slide
        .carousel-inner
        .carousel-item
        data-ride='caoursel'
        coursel-item-next
        .carousel-item-prev
        data-slide='prev'
        data-slide='next' 
        data-target='id' 
        data-slide-to='slide_number' 
        .carouse-indicators
    </p>
    <div class="bd-example">
        <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
                <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="container-fluid bg-info" style="width: 100%; height: 300px;">
                        <h1 class="display-1 d-block w-100">Display 1</h1>
                    </div>
                    <div class="carousel-caption d-none d-md-block">
                        <h5>First slide label</h5>
                        <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="container-fluid bg-info" style="width: 100%; height: 300px;">
                        <h1 class="display-1 d-block w-100">Display 1</h1>
                    </div>
                    <div class="carousel-caption d-none d-md-block">
                        <h5>Second slide label</h5>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="container-fluid bg-success" style="width: 100%; height: 300px;">
                        <h1 class="display-1 d-block w-100">Display 1</h1>
                    </div>
                    <div class="carousel-caption d-none d-md-block">
                        <h5>Third slide label</h5>
                        <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
</div>
<div class="container bg-light rounded m-2 p-3">
    <p class="text-muted text-center text-dark text-lead">
        .carousel
        .slide 
        .carousel-fade
        .carousel-inner
        .carousel-item
        data-ride='caoursel'
        coursel-item-next
        .carousel-item-prev
        data-slide='prev'
        data-slide='next' 
    </p>
    <div id="carouselExampleFade" class="carousel slide carousel-fade" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="container-fluid bg-danger" style="width: 100%; height: 300px;">
                    <h1 class="display-1 d-block w-100">Display 1</h1>
                </div>
            </div>
            <div class="carousel-item">
                <div class="container-fluid bg-info" style="width: 100%; height: 300px;">
                    <h1 class="display-1 d-block w-100">Display 1</h1>
                </div>            </div>
            <div class="carousel-item">
                <div class="container-fluid bg-success" style="width: 100%; height: 300px;">
                    <h1 class="display-1 d-block w-100">Display 1</h1>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleFade" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleFade" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>

<div class="container bg-light rounded m-2 p-3">
    <p class="text-muted text-center text-dark text-lead"></p>
    <div id="carouselExampleInterval" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active" data-interval="10000">
                <div class="container-fluid bg-danger" style="width: 100%; height: 300px;">
                    <h1 class="display-1 d-block w-100">Display 1</h1>
                </div>
            </div>
            <div class="carousel-item" data-interval="2000">
                <div class="container-fluid bg-info" style="width: 100%; height: 300px;">
                    <h1 class="display-1 d-block w-100">Display 1</h1>
                </div> 
            </div>
            <div class="carousel-item">
                <div class="container-fluid bg-success" style="width: 100%; height: 300px;">
                    <h1 class="display-1 d-block w-100">Display 1</h1>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleInterval" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleInterval" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>
