<div class="container bg-light p-3 m-2 rounded text-dark">
    <h1><u>Using Pure Heading</u></h1>
    <h1>&lt;h1&gt; Heading 1</h1>
    <h2>&lt;h2&gt; Heading 2</h2>
    <h3>&lt;h3&gt; Heading 3</h3>
    <h4>&lt;h4&gt; Heading 4</h4>
    <h5>&lt;h5&gt; Heading 5</h5>
    <h6>&lt;h6&gt; Heading 6</h6>
</div>

<div class="container bg-light p-3 m-2 rounded text-dark">
    <h1><u>Using Heading Class</u></h1>
    <p class="h1">.h1 Heading 1</p>
    <p class="h2">.h2 Heading 2</p>
    <p class="h3">.h3&gt; Heading 3</p>
    <p class="h4">.h4&gt; Heading 4</p>
    <p class="h5">.h5&gt; Heading 5</p>
    <p class="h6">.h6&gt; Heading 6</p>
</div>

<div class="container bg-light p-3 m-2 rounded text-dark">
    <h4>This Text is written by muted-text <small class="text-muted">Hazar Gul Nazari</small></h4>
</div>

<div class="container bg-light p-3 m-2 rounded text-dark">
    <h1 class="display-1">.display-1</h1>
    <h1 class="display-2">.display-2</h1>
    <h1 class="display-3">.display-3</h1>
    <h1 class="display-4">.display-4</h1>
</div>

<div class="container bg-light p-3 m-2 rounded text-dark">
    <p class="text-lead">This Text is <abbr class="initialism" title=".initialism">text-lead</abbr></p>
</div>

<div class="container bg-light p-3 m-2 rounded text-dark">
    <blockquote class="blockquote text-center">
        <p class="text-lead display-4">“Look up at the stars, not down at your feet“</p>
        <footer class="blockquote-footer">Steven Hawking</footer>
    </blockquote>
</div>

<div class="container bg-light p-3 m-2 rounded text-dark">
    <p class="text-lead text-muted">To-do List</p>
    <ul class="list-unstyled">
        <li>Check the website <button class="btn btn-outline-danger">Check</button></li>
        <li>Do other stuff
            <ul>
                <li>Something more 1</li> 
                <li>Somethig More 2</li>
            </ul>
        </li>
    </ul>
</div>

<div class="container bg-light p-3 m-2 rounded text-dark">
    <p class="text-muted text-lead text-center">list-inline</p>
    <ul class="list-inline">
        <li class="list-inline-item">
            <button class="btn btn-primary btn-sm">Item 1 inline</button>
        </li>
        <li class="list-inline-item">
            <button class="btn btn-primary btn-sm">Item 2 inline</button>
        </li>
        <li class="list-inline-item">
            <button class="btn btn-primary btn-sm">Item 2 inline</button>
        </li>
    </ul>
</div>

<div class="container bg-light p-3 m-2 rounded text-dark">
    <dl class="row">
        <dt class="col-3">Something</dt>
        <dd class="col-9">Here is the descript for the something which we have covered through out the entire</dd>
        <dt class="col-3 text-truncate">Something truncated which is</dt>
        <dd class="col-9">Here is the descript for the something which we have covered through out the entire</dd>
    </dl>
</div>

<div class="container bg-light p-3 m-2 rounded text-dark">
    <p class="text-center text-muted text-lead">&lt;code&gt; and &lt;kbd&gt; bootstrap format</p>
    <pre>
        <code class="text-danger">function</code> doit(){
            <code class="text-danger">return</code> <code class="text-primary">this</code>.doSomethig();
        }
        <kbd>//Here goes the comment</kbd>
    </pre>
</div>