<div class="container p-3 bg-light rounded">
    <h3 class="text-dark">.row</h3>
    <div class="row text-light">
        <div class="col p-2 m-1 bg-danger text-center rounded">
            .col
        </div>
        <div class="col p-2 m-1 bg-danger text-center rounded">
            .col
        </div>
        <div class="col p-2 m-1 bg-danger text-center rounded">
            .col
        </div>
    </div>
</div>

<div class="container rounded bg-light p-3 mt-2 text-dark">
    <h3>.row</h3>
    <div class="row text-center">
        <div class="col bg-danger rounded text-light p-2 m-1">
            .col
        </div>
        <div class="col bg-danger rounded text-light p-2 m-1">
            .col
        </div>
    </div>
    <h3>.row</h3>
    <div class="row text-center">
        <div class="col bg-danger rounded text-light p-2 m-1">
            .col
        </div>
        <div class="col bg-danger rounded text-light p-2 m-1">
            .col
        </div>
        <div class="col bg-danger rounded text-light p-2 m-1">
            .col
        </div>
    </div>
</div>

<div class="container bg-light mt-2 p-3 rounded">
    <h3 class="text-dark">.row</h3>
    <div class="row text-center text-light">
        <div class="col rounded p-2 rounded bg-danger m-1">
            .col
        </div>
        <div class="col rounded p-2 rounded bg-danger m-1">
            .col
        </div>
        <h2 class="text-dark">w-100</h2>
        <div class="w-100"></div>
        <div class="col rounded p-2 rounded bg-danger m-1">
            .col
        </div>
        <div class="col rounded p-2 rounded bg-danger m-1">
            .col
        </div>
    </div>
</div>

<div class="container rounded bg-light mt-2 p-3">
    <h2 class="text-dark">.row</h2>
    <div class="row text-light text-center">
        <div class="col bg-danger p-2 m-1 rounded">
            .col
        </div>
        <div class="col-6 bg-danger p-2 m-1 rounded">
            .col-6
        </div>
        <div class="col bg-danger p-2 m-1 rounded">
            .col
        </div>
    </div>
    <h2 class="text-dark">.row</h2>
    <div class="row text-light text-center">
        <div class="col bg-danger p-2 m-1 rounded">
            .col
        </div>
        <div class="col-5 bg-danger p-2 m-1 rounded">
            .col-5
        </div>
        <div class="col bg-danger p-2 m-1 rounded">
            .col
        </div>
    </div>
    
</div>

<div class="container bg-light rounded mt-2 p-3">
    <h3 class="text-dark">.row .justify-content-md-center</h3>
    <div class="row text-center text-light justify-content-md-center">
        <div class="col bg-danger p-2 m-1 col-lg-2 rounded">
            .col col-lg-2
        </div>
        <div class="col col-danger p-2 m-1 col-md-auto text-dark">
            .col col-md-auto
        </div>
        <div class="col bg-danger p-2 m-1 col-lg-2 rounded">
            .col col-lg-2
        </div>
    </div>
    <h3 class="text-dark">.row</h3>
    <div class="row text-center text-light">
        <div class="col bg-danger p-2 m-1 rounded">
            .col
        </div>
        <div class="col-md-auto bg-danger p-2 m-1 rounded">
            .col-md-auto
        </div>
        <div class="col-lg-2 bg-danger p-2 m-1 rounded">
            .col-lg-2
        </div>
    </div>
</div>

<div class="container p-3 mt-2 bg-light rounded text-light text-center">
    <h3 class="text-dark">.row</h3>
    <div class="row">
        <div class="col bg-danger rounded p-2 m-1">
            .col
        </div>
        <div class="col bg-danger rounded p-2 m-1">
            .col
        </div>
        <div class="col bg-danger rounded p-2 m-1">
            .col
        </div>
        <div class="col bg-danger rounded p-2 m-1">
            .col
        </div>
    </div>
    <div class="row">
        <div class="col-8 bg-danger rounded p-2 border">
            .col-8
        </div>
        <div class="col-4 bg-danger rounded p-2">
            .col-4
        </div>
    </div>
</div>

<div class="container bg-light rounded mt-2 p-3 text-center text-light">
    <div class="row p-2">
        <div class="col-12 col-md-8 bg-danger border rounded p-2">
            .col-12 .col-md-8
        </div>
        <div class="col-6 col-md-4 bg-danger rounded p-2">
            .col-6 .col-md-4
        </div>
    </div>
    <div class="row p-2">
       <div class="col-6 col-md-4 bg-danger border rounded p-2">
            .col-12 .col-md-8
        </div>
        <div class="col-6 col-md-4 bg-danger border rounded p-2">
            .col-6 .col-md-4
        </div>
        <div class="col-6 col-md-4 bg-danger border rounded p-2">
            .col-6 .col-md-4
        </div>
    </div>
    <div class="row p-2">
       <div class="col-6 bg-danger border rounded p-2">
            .col-12 .col-md-8
        </div>
        <div class="col-6 bg-danger border rounded p-2">
            .col-6
        </div>
    </div>
</div>

<div class="container bg-light rounded mt-2 p-3 text-center text-light">
        <div class="row align-items-start border p-2 rounded m-2 border-success" style="min-height: 10rem">
            <div class="col bg-danger p-2 m-1 rounded">
                .col
            </div>
            <div class="col bg-danger p-2 m-1 rounded">
                .col
            </div>
            <div class="col bg-danger p-2 m-1 rounded">
                .col
            </div>
            <h3 class="text-dark">.row .align-items-start</h3>
        </div>
        <div class="row align-items-center border p-2 rounded m-2 border-success" style="min-height: 10rem">
            <h3 class="text-dark">.row .align-items-center</h3>
            <div class="col bg-danger p-2 m-1 rounded">
                .col
            </div>
            <div class="col bg-danger p-2 m-1 rounded">
                .col
            </div>
            <div class="col bg-danger p-2 m-1 rounded">
                .col
            </div>
        </div>
        <div class="row align-items-end border p-2 rounded m-2 border-success" style="min-height: 10rem">
            <h3 class="text-dark">.row .align-items-end</h3>
            <div class="col bg-danger p-2 m-1 rounded">
                .col
            </div>
            <div class="col bg-danger p-2 m-1 rounded">
                .col
            </div>
            <div class="col bg-danger p-2 m-1 rounded">
                .col
            </div>
        </div>
</div>

<div class="container bg-light mt-2 p-3 text-light rounded">
    <div class="row p-3 m-2 border border-success rounded" style="min-height: 10rem">
        <div class="col align-self-start rounded bg-danger p-3 border">
            .col .align-self-start
        </div>
        <div class="col align-self-center rounded bg-danger p-3 border">
            .col .align-self-center
        </div>
        <div class="col align-self-end rounded bg-danger p-3 border">
            .col .align-self-end
        </div>
    </div>
</div>

<div class="container mt-2 p-3 bg-light rounded text-light">
    <div class="row justify-content-start border border-success rounded p-3 m-2">
        <div class="col-4 rounded bg-danger p-3 m-1">
            .col-4 .justify-content-start
        </div>
        <div class="col-4 rounded bg-danger p-3 m-1">
            .col-4
        </div>
    </div>
    <div class="row justify-content-center border border-success rounded p-3 m-2">
        <div class="col-4 rounded bg-danger p-3 m-1">
            .col-4 .justify-content-center
        </div>
        <div class="col-4 rounded bg-danger p-3 m-1">
            .col-4
        </div>
    </div>
    <div class="row justify-content-end border border-success rounded p-3 m-2">
        <div class="col-4 rounded bg-danger p-3 m-1">
            .col-4 .justify-content-end
        </div>
        <div class="col-4 rounded bg-danger p-3 m-1">
            .col-4
        </div>
    </div>
    <div class="row justify-content-around border border-success rounded p-3 m-2">
        <div class="col-4 rounded bg-danger p-3 m-1">
            .col-4 .justify-content-around
        </div>
        <div class="col-4 rounded bg-danger p-3 m-1">
            .col-4
        </div>
    </div>
    <div class="row justify-content-between border border-success rounded p-3 m-2">
        <div class="col-4 rounded bg-danger p-3 m-1">
            .col-4 .justify-content-between
        </div>
        <div class="col-4 rounded bg-danger p-3 m-1">
            .col-4
        </div>
    </div>
</div>

<div class="container bg-light m-2 p-3 text-light rounded">
    <div class="row border border-success p-3 m-2 rounded">
        <div class="col order bg-danger m-1 p-2 rounded">
            .col order-3 (first)
        </div>
        <div class="col order-2 bg-danger m-1 p-2 rounded">
            .col order-2 (second)
        </div>
        <div class="col order-1 bg-danger m-1 p-2 rounded">
            .col order-1 (third)
        </div>
        <div class="col order-5 bg-danger m-1 p-2 rounded">
            .col order-5 (forth)
        </div>
        <div class="col order-4 bg-danger m-1 p-2 rounded">
            .col order-4 (fifth)
        </div>
        <div class="col order-6 bg-danger m-1 p-2 rounded">
            .col order-6 (sixth)
        </div>
    </div>
    <div class="row border border-success p-3 m-2 rounded">
        <div class="col order-last bg-danger m-1 p-2 rounded">
            .col order-last (first)
        </div>
        <div class="col bg-danger m-1 p-2 rounded">
            .col (second)
        </div>
        <div class="col order-first bg-danger m-1 p-2 rounded">
            .col order-first (last)
        </div>
    </div>
</div>

<div class="container bg-light m-2 p-3 rounded text-center text-light">
    <div class="row rounded border p-2 m-2 border-success">
        <div class="col-md-4 bg-danger rounded m-1 p-3">
            .col-md-4
        </div>
        <div class="col-md-4 ml-auto bg-danger rounded m-1 p-3">
            .col-md-4 ml-auto
        </div>
    </div>
    <div class="row rounded border p-2 m-2 border-success">
        <div class="col-md-3 bg-danger rounded m-1 p-3">
            .col-md-3
        </div>
        <div class="col-md-3 ml-md-auto bg-danger rounded m-1 p-3">
            .col-md-3 ml-md-auto
        </div>
    </div>
    <div class="row rounded border p-2 m-2 border-success">
        <div class="col-auto mr-auto bg-danger rounded m-1 p-3">
            .col-auto mr-auto
        </div>
        <div class="col-auto ml-md-auto bg-danger rounded m-1 p-3">
            .col-auto
        </div>
    </div>
</div>

<div class="container bg-light rounded p-3 m-2 text-light text-center">
    <div class="row p-3 m-2 rounded border border-success">
        <div class="col-9 p-4 m-2 rounded bg-danger">
            <div class="row p-2 m-2 border border-warning">
                <div class="col bg-primary m-2 p-2 rounded">
                    nested column
                </div>
                <div class="col bg-primary m-2 p-2 rounded">
                    nested column
                </div>
                <div class="col bg-primary m-2 p-2 rounded">
                    nested column
                </div>
            </div>
        </div>
    </div>
</div>