<div class="container bg-light p-3 m-2 rounded text-dark text-center">
    <figure class="figure">
        <img src="https://photos.tripsite.com/assets/files/3017/paris-eiffel-tower-flmoyanbrenn.jpg" class="img-fluid img-center img-thumbnail figure-img">
        <figcaption class="figure-caption text-muted text-center">Paris - 2016</figcaption>
    </figure>
</div>

<div class="container bg-light p-3 m-2 rounded text-dark" style="height: 260px">
    <img src="https://pbs.twimg.com/profile_images/985210309492203520/Yps1qcUX_400x400.jpg" class="img rounded float-left" width="200">
    <img src="https://statici.behindthevoiceactors.com/behindthevoiceactors/_img/chars/nick-wilde-zootopia-76.8.jpg" class="img rounded float-right" width="200">
</div>

<div class="container bg-light p-3 m-2 rounded text-dark">
    <img src="https://pbs.twimg.com/profile_images/985210309492203520/Yps1qcUX_400x400.jpg" class="img img-thumbnail mx-auto d-block" width="200">
</div>