<div class="container m-2 p-3 bg-light">
    <p class="text-muted text-center text-lead">Tables</p>
    
    <table class="table table-dark rounded">
        <thead>
            <th scope="col">#</th>
            <th scope="col">Item Name</th>
            <th scope="col">Weight</th>
            <th scope="col">Price</th>   
        </thead>
        <tbody>
            <tr>
                <th scope="col">1</th>
                <td>Sugar</td>
                <td>500 g</td>
                <td>20$</td>
            </tr>
            <tr>
                <th scope="col">2</th>
                <td>Bread</td>
                <td>300 g</td>
                <td>10$</td>
            </tr>
            <tr>
                <th scope="col">3</th>
                <td>Salt</td>
                <td>700 g</td>
                <td>50$</td>
            </tr>
        </tbody>
        <tfoot>
            <th scope="col">Total</th>
            <td colspan="3" class="text-center">80$</td>
        </tfoot>
    </table>
</div>

<div class="container m-2 p-5 bg-light text-dark">
    <p class="text-muted text-lead text-center">Dark Heading Table</p>
    <table class="table rounded table-bordered">
        <thead class="thead-dark">
            <th scope="col">#</th>
            <th scope="col">Item Name</th>
            <th scope="col">Weight</th>
            <th scope="col">Price</th>   
        </thead>
        <tbody>
            <tr>
                <th scope="col">1</th>
                <td>Sugar</td>
                <td>500 g</td>
                <td>20$</td>
            </tr>
            <tr>
                <th scope="col">2</th>
                <td>Bread</td>
                <td>300 g</td>
                <td>10$</td>
            </tr>
            <tr>
                <th scope="col">3</th>
                <td>Salt</td>
                <td>700 g</td>
                <td>50$</td>
            </tr>
        </tbody>
        <tfoot>
            <th scope="col">Total</th>
            <td colspan="3" class="text-center">80$</td>
        </tfoot>
    </table>
</div>

<div class="container m-2 p-5 bg-light text-dark">
    <p class="text-muted text-lead text-center">Stripped Table .table-stripped</p>
    <table class="table rounded table-bordered table-striped">
        <thead class="thead-dark">
            <th scope="col">#</th>
            <th scope="col">Item Name</th>
            <th scope="col">Weight</th>
            <th scope="col">Price</th>   
        </thead>
        <tbody>
            <tr>
                <th scope="col">1</th>
                <td>Sugar</td>
                <td>500 g</td>
                <td>20$</td>
            </tr>
            <tr>
                <th scope="col">2</th>
                <td>Bread</td>
                <td>300 g</td>
                <td>10$</td>
            </tr>
            <tr>
                <th scope="col">3</th>
                <td>Salt</td>
                <td>700 g</td>
                <td>50$</td>
            </tr>
        </tbody>
        <tfoot>
            <th scope="col">Total</th>
            <td colspan="3" class="text-center">80$</td>
        </tfoot>
    </table>
</div>

<div class="container m-2 p-5 bg-light text-dark">
    <p class="text-muted text-lead text-center">Bordered Table .table-bordered</p>
    <table class="table rounded table-bordered table-hover">
        <thead class="thead-dark">
            <th scope="col">#</th>
            <th scope="col">Item Name</th>
            <th scope="col">Weight</th>
            <th scope="col">Price</th>   
        </thead>
        <tbody>
            <tr>
                <th scope="col">1</th>
                <td>Sugar</td>
                <td>500 g</td>
                <td>20$</td>
            </tr>
            <tr>
                <th scope="col">2</th>
                <td>Bread</td>
                <td>300 g</td>
                <td>10$</td>
            </tr>
            <tr>
                <th scope="col">3</th>
                <td>Salt</td>
                <td>700 g</td>
                <td>50$</td>
            </tr>
        </tbody>
        <tfoot>
            <th scope="col">Total</th>
            <td colspan="3" class="text-center">80$</td>
        </tfoot>
    </table>
</div>

<div class="container m-2 p-5 bg-light text-dark">
    <p class="text-muted text-lead text-center">Borderless table .table-borderless</p>
    <table class="table table-borderless table-hover">
        <thead class="thead-dark">
            <th scope="col">#</th>
            <th scope="col">Item Name</th>
            <th scope="col">Weight</th>
            <th scope="col">Price</th>   
        </thead>
        <tbody>
            <tr>
                <th scope="col">1</th>
                <td>Sugar</td>
                <td>500 g</td>
                <td>20$</td>
            </tr>
            <tr>
                <th scope="col">2</th>
                <td>Bread</td>
                <td>300 g</td>
                <td>10$</td>
            </tr>
            <tr>
                <th scope="col">3</th>
                <td>Salt</td>
                <td>700 g</td>
                <td>50$</td>
            </tr>
        </tbody>
        <tfoot>
            <th scope="col">Total</th>
            <td colspan="3" class="text-center">80$</td>
        </tfoot>
    </table>
</div>

<div class="container m-2 p-5 bg-light text-dark">
    <p class="text-muted text-lead text-center">Small Table .table-sm</p>
    <table class="table table-sm rounded table-bordered table-hover">
        <thead class="thead-dark">
            <th scope="col">#</th>
            <th scope="col">Item Name</th>
            <th scope="col">Weight</th>
            <th scope="col">Price</th>   
        </thead>
        <tbody>
            <tr>
                <th scope="col">1</th>
                <td>Sugar</td>
                <td>500 g</td>
                <td>20$</td>
            </tr>
            <tr>
                <th scope="col">2</th>
                <td>Bread</td>
                <td>300 g</td>
                <td>10$</td>
            </tr>
            <tr>
                <th scope="col">3</th>
                <td>Salt</td>
                <td>700 g</td>
                <td>50$</td>
            </tr>
        </tbody>
        <tfoot>
            <th scope="col">Total</th>
            <td colspan="3" class="text-center">80$</td>
        </tfoot>
    </table>
</div>

<div class="container m-2 p-5 bg-light text-dark">
    <p class="text-muted text-lead text-center">Medium Table .table-md</p>
    <table class="table table-md rounded table-bordered table-hover">
        <thead class="thead-dark">
            <th scope="col">#</th>
            <th scope="col">Item Name</th>
            <th scope="col">Weight</th>
            <th scope="col">Price</th>   
        </thead>
        <tbody>
            <tr>
                <th scope="col">1</th>
                <td>Sugar</td>
                <td>500 g</td>
                <td>20$</td>
            </tr>
            <tr>
                <th scope="col">2</th>
                <td>Bread</td>
                <td>300 g</td>
                <td>10$</td>
            </tr>
            <tr>
                <th scope="col">3</th>
                <td>Salt</td>
                <td>700 g</td>
                <td>50$</td>
            </tr>
        </tbody>
        <tfoot>
            <th scope="col">Total</th>
            <td colspan="3" class="text-center">80$</td>
        </tfoot>
    </table>
</div>

<div class="container m-2 p-5 bg-light text-dark">
    <p class="text-muted text-lead text-center">Coloring rows by table-colors</p>
    <table class="table rounded table-bordered table-hover">
        <thead class="thead-dark">
            <tr class="table-primary">
                <th scope="col">#</th>
                <th scope="col">Item Name</th>
                <th scope="col">Weight</th>
                <th scope="col">Price</th>  
            </tr>
        </thead>
        <tbody>
            <tr class="table-secondary">
                <th scope="col">1</th>
                <td>Sugar</td>
                <td>500 g</td>
                <td>20$</td>
            </tr>
            <tr class="table-danger">
                <th scope="col">2</th>
                <td>Bread</td>
                <td>300 g</td>
                <td>10$</td>
            </tr>
            <tr class="table-warning">
                <th scope="col">2</th>
                <td>Bread</td>
                <td>300 g</td>
                <td>10$</td>
            </tr>
            <tr class="table-info">
                <th scope="col">2</th>
                <td>Bread</td>
                <td>300 g</td>
                <td>10$</td>
            </tr>
            <tr class="table-success">
                <th scope="col">2</th>
                <td>Bread</td>
                <td>300 g</td>
                <td>10$</td>
            </tr>
            <tr class="table-dark">
                <th scope="col">2</th>
                <td>Bread</td>
                <td>300 g</td>
                <td>10$</td>
            </tr>
            <tr class="table-active">
                <th scope="col">2</th>
                <td>Bread</td>
                <td>300 g</td>
                <td>10$</td>
            </tr>
            <tr>
                <th scope="col">3</th>
                <td>Salt</td>
                <td>700 g</td>
                <td>50$</td>
            </tr>
        </tbody>
        <tfoot>
            <th scope="col">Total</th>
            <td colspan="3" class="text-center">80$</td>
        </tfoot>
    </table>
</div>

<div class="container m-2 p-5 bg-light text-dark">
    <p class="text-muted text-lead text-center">Table Color by bg-colors</p>
    <table class="table rounded table-bordered table-hover">
        <thead class="thead-dark">
            <tr class="bg-primary">
                <th scope="col">#</th>
                <th scope="col">Item Name</th>
                <th scope="col">Weight</th>
                <th scope="col">Price</th>  
            </tr>
        </thead>
        <tbody>
            <tr class="bg-secondary">
                <th scope="col">1</th>
                <td>Sugar</td>
                <td>500 g</td>
                <td>20$</td>
            </tr>
            <tr class="bg-danger">
                <th scope="col">2</th>
                <td>Bread</td>
                <td>300 g</td>
                <td>10$</td>
            </tr>
            <tr class="bg-warning">
                <th scope="col">2</th>
                <td>Bread</td>
                <td>300 g</td>
                <td>10$</td>
            </tr>
            <tr class="bg-info">
                <th scope="col">2</th>
                <td>Bread</td>
                <td>300 g</td>
                <td>10$</td>
            </tr>
            <tr class="bg-success">
                <th scope="col">2</th>
                <td>Bread</td>
                <td>300 g</td>
                <td>10$</td>
            </tr>
            <tr class="bg-dark text-light">
                <th scope="col">2</th>
                <td>Bread</td>
                <td>300 g</td>
                <td>10$</td>
            </tr>
            <tr class="bg-active">
                <th scope="col">2</th>
                <td>Bread</td>
                <td>300 g</td>
                <td>10$</td>
            </tr>
            <tr>
                <th scope="col">3</th>
                <td>Salt</td>
                <td>700 g</td>
                <td>50$</td>
            </tr>
        </tbody>
        <tfoot>
            <th scope="col">Total</th>
            <td colspan="3" class="text-center">80$</td>
        </tfoot>
    </table>
</div>

<div class="container m-2 p-5 bg-light text-dark">
    <p class="text-muted text-lead text-center">Responsive Table</p>
    <table class="table table-responsive rounded table-bordered table-hover">
        <thead class="thead-dark">
            <th scope="col">#</th>
            <th scope="col">Item Name</th>
            <th scope="col">Weight</th>
            <th scope="col">Price</th>   
        </thead>
        <tbody>
            <tr>
                <th scope="col">1</th>
                <td>Sugar</td>
                <td>500 g</td>
                <td>20$</td>
            </tr>
            <tr>
                <th scope="col">2</th>
                <td>Bread</td>
                <td>300 g</td>
                <td>10$</td>
            </tr>
            <tr>
                <th scope="col">3</th>
                <td>Salt</td>
                <td>700 g</td>
                <td>50$</td>
            </tr>
        </tbody>
        <tfoot>
            <th scope="col">Total</th>
            <td colspan="3" class="text-center">80$</td>
        </tfoot>
    </table>
</div>

<div class="container m-2 p-5 bg-light text-dark">
    <p class="text-muted text-lead text-center">Responsive On Small Screens .table-responsive-{screens}</p>
    <table class="table table-responsive-md rounded table-bordered table-hover">
        <thead class="thead-dark">
            <th scope="col">#</th>
            <th scope="col">Item Name</th>
            <th scope="col">Weight</th>
            <th scope="col">Price</th>   
        </thead>
        <tbody>
            <tr>
                <th scope="col">1</th>
                <td>Sugar</td>
                <td>500 g</td>
                <td>20$</td>
            </tr>
            <tr>
                <th scope="col">2</th>
                <td>Bread</td>
                <td>300 g</td>
                <td>10$</td>
            </tr>
            <tr>
                <th scope="col">3</th>
                <td>Salt</td>
                <td>700 g</td>
                <td>50$</td>
            </tr>
        </tbody>
        <tfoot>
            <th scope="col">Total</th>
            <td colspan="3" class="text-center">80$</td>
        </tfoot>
    </table>
</div>